# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# Use `pre-commit autoupdate` to update dependencies.
default_language_version:
  python: python3.13
repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args: [ "--py313-plus" ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-toml
      - id: check-yaml
        args:
          - --unsafe
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-ast
      - id: debug-statements
      - id: check-merge-conflict
      - id: requirements-txt-fixer
        exclude: ^infra/requirements/.*\.txt$ # Exclude compiled reqs files
      - id: check-json

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args:
          - --fix

  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black

  - repo: https://github.com/myint/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake
        args: [ --remove-all-unused-imports, --remove-unused-variables ]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [
          "--install-types",
          "--non-interactive",
          "--config-file=mypy.ini"
        ]
        exclude: ^(tests/|migrations/|scripts/)
        additional_dependencies:
          - fastapi==0.128.1
          - pydantic==2.12.5
          - sqlalchemy==2.0.46
          - celery==5.6.2
          - sentry-sdk==2.52.0
          - pydantic-settings==2.12.0
          - redis==7.1.0
          - pytest==9.0.2
          - alembic==1.18.3
          - fastapi-mail==1.6.1
          - types-passlib==1.7.7.20250602
          - types-pytz==2025.2.0.20251108
