black
fastapi
fastapi-pagination
uvicorn
gunicorn
sqlalchemy
GeoAlchemy2
alembic
asyncpg
psycopg2
redis
celery
pydantic
pydantic-settings
pyjwt
passlib
python-dotenv
httpx
loguru
websockets
sentry-sdk
python-multipart
pytest
pytest-asyncio
pytz
flower
