alembic
asyncpg
black
celery
email-validator
fastapi
fastapi-pagination
fastapi_mail
flower
GeoAlchemy2
gunicorn
httpx
loguru
passlib
pre-commit
psycopg2
pydantic
pydantic-settings
pyjwt
pytest
pytest-asyncio
python-dotenv
python-multipart
pytz
redis
sentry-sdk
sqlalchemy
uvicorn
websockets
