<tr>
  <td style="padding-bottom: 24px">
    <a
      href="{{ link }}"
      style="
        display: inline-block;
        text-decoration: none;
        padding: 10px 12px;
        background-color: #008fdc;
        color: #ffffff;
        font-family: Quicksand, Arial, Helvetica, sans-serif;
        font-size: 14px;
        border-radius: 14px;
        text-align: center;
        width: 100%;
        max-width: 120px;
        font-weight: 500;
        {{ button_styles }}
    ">
      {{ button_text }}
    </a>
  </td>
</tr>
