# Do not deploy this file on server, it is only for local development

services:
  app-builder:
    build:
      context: ..
      dockerfile: infra/docker/Dockerfile.dev
    image: template-app-dev-image:latest

  app:
    container_name: template-app
    image: template-app-dev-image:latest
    command: uvicorn src.main.web:app --host 0.0.0.0 --port ${APP_BACKEND_PORT} --reload
    volumes:
      - ..:/app
      - /app/.venv

  celery_worker:
    image: template-app-dev-image:latest

  celery_beat:
    image: template-app-dev-image:latest

  nginx:
    volumes:
      - ./nginx/dev-nginx.conf:/etc/nginx/conf.d/default.conf
