{% extends 'base.html' %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

{% set message %}
Hi {{ name }},
We received a request to reset your password for your account.
If you made this request, click the button below to set a new password:
{% endset %}
{% set button_text = "Reset Password" %}

{% include 'components/_title.html' with context %}

{% include 'components/_message.html' with context %}

{% include 'components/_button.html' with context %}

{% endblock content %}
